# Test Suites can also be defined in testsuites.py.
# Use this file for simple test suites.
# Suite names are in brackets []
# Test names must match tests found in files in the tests directory.


[debug]
#For debug / Please put the test item


[Test_sample1]
Nuclias_device_webUI_Login_PC1_HTTP
Nuclias_device_webUI_Login_STA_HTTP
Nuclias_device_device_webUI_OverviewPage_PC1
Nuclias_device_device_webUI_OverviewPage_STA
Nuclias_device_webUI_Firmware_Upgrade_PC1
Nuclias_device_webUI_Firmware_Upgrade_fake_image_PC1
Nuclias_device_webUI_Firmware_Upgrade_STA
Nuclias_device_webUI_Firmware_Upgrade_fake_image_STA


[basic1]
LanDevPingInternet
LanDevPingRouter
RouterPingWanDev
WifiScan
OpenwrtVersion
Logread
MemoryUse
InterfacesShow
UciShowWireless
RandomWebBrowse
Wlan_Connect_2g
Wlan_Connect_5kg
RootFSBootTest
iPerfTest
iPerfTestWLAN
